.resize-img{
    width: 60%;
}

.card{
    border:none;
    .card-body{
        background-color: $site-background-color;
        .link-text-inline-block{
            display: inline-block;
            }
            h5{
                padding: 10px 0px 50px 0px;
            }
    }
    .card-title{
        color: $primary-text-color;
    }
    a{
        text-decoration-color: $primary-text-color;
    }
}



