.resize-img{
    width: 60%;
}

.card{
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
     .card-body{
        background-color: $site-background-color;
        margin-top: 10px;
        display: inline-block;
        .ml{
            padding-left: 140px;
        }

    }
    .card-title{
        color: $primary-text-color;
    }
    a{
        text-decoration-color: $primary-text-color;
    }
    .card-img-top{
        border: dotted 6px $paddle-color;

        &{
            border-radius: 20px;
            // margin-bottom: 20px; 
        }
    } 
    .gname1{
        font-size:28px;
    }
}



