html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.game {
  position: relative;
  background-color: rgb(25, 25, 25);
  color: white;
  height: 100vh;
  width:100%;
  color: #fff;
  background: linear-gradient(-45deg, #000,  #001052, #000, #001052);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  border:solid 11px black;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.score {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
  width:100% !important;
  text-align:right;
}

.score-text{
  .sv {
    position: absolute;
    top: 12px;
    right: 90px;
    font-size: 21px;

    @media  screen and  (max-height:600px)  {     
      font-size:20px;
      top:10px;
      right: 75px;

    }
    @media  screen and  (max-height:500px)  {     
      font-size:15px; 
      top:9px;
      right: 58px;
    }
    @media  screen and  (max-height:400px)  {     
      font-size:12px;
      top:8.5px;
      right: 48px;
    }
  };
  .en {
    position: absolute;
    top: 12px;
    right: 90px;
    font-size: 21px;

    @media  screen and  (max-height:600px)  {     
      font-size:20px;
      top:10px;
      right: 75px;
    }
    @media  screen and  (max-height:500px)  {     
      font-size:15px;
      top:9px;
      right: 58px;     
    }
    @media  screen and  (max-height:400px)  {     
      font-size:12px;
      top:8.5px;
      right: 48px;
    }
  };  
};

.lives-text{
  .en{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 25px;

    @media screen and  (max-height:600px)  {     
      font-size:20px;
      top:8px;
    }
    @media screen and  (max-height:500px)  {     
      font-size:15px;
      top:7px;
    }
    @media screen and  (max-height:400px)  {     
      font-size:12px;
      top:7px;
    };
    
  }
  .sv{
    position: absolute;
    top: 8px;
    left: 18px;
    font-size: 25px;

    @media  screen and  (max-height:600px)  {     
      font-size:20px;
      top:8px;
    }
    @media  screen and  (max-height:500px)  {     
      font-size:15px;
      top:7px;
    }
    @media  screen and  (max-height:400px)  {     
      font-size:12px;
      top:7px;
    }
    
  }
}
.lives {
  position: absolute;
  top: 5px;
  left: 70px;
  font-size: 25px;
  width:100px;

  @media  screen and  (max-height:600px)  {     
    font-size:20px;
    left:55px;
  }
  @media  screen and  (max-height:500px)  {     
    font-size:15px;
    left: 48px;
  }
  @media  screen and  (max-height:400px)  {     
    font-size:12px;
    left: 40px;
  }
}



.score {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 25px;
  width:100% !important;
  text-align:right;
  
  @media  screen and  (max-height:600px)  {     
    font-size:20px;
  }
  @media  screen and  (max-height:500px)  {     
    font-size:15px; 
  }
  @media  screen and  (max-height:400px)  {     
    font-size:12px;
  }
}



.main-text {
  display:none;
  position: absolute;
  width: 100%;
  text-align: center;
  //top: 150px;
  top: 50%;
  font-size:20px;

  @media  screen and  (max-height:600px)  {     
    font-size:16px;
    color:red; 
  }
  @media  screen and  (max-height:500px)  {     
    font-size:14px;
    color:red; 
  }
  @media  screen and  (max-height:400px)  {     
    font-size:12px;
    color:red; 
  }
}

#gameModal {
  color: #000;
}

.paddle {
  width:10%;
  height: 2%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-radius: 10px;
  background-color:#72fff0;
}

.button-left{
  width:20%;
  height:10%;
  border:solid red 1px;
  position:absolute;
  bottom:0;
}
.button-right{
  width:20%;
  height:10%;
  border:solid red 1px;
  position:absolute;
  bottom:0;
  right:0;
}

@media only screen and (max-width: 600px) {
  i {
    position:absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 100px;
    right: 25px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    bottom: 100px;
    left:25px
  }
} 


  

.brick {
  left: 0;
  top: 0;
  width: 7.75%;
  height: 4%;
  position: absolute;
  z-index: 1;
  border:solid black 1px;

}

.ball {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;

    img{
      width:100%;
      vertical-align: top;
    }

    &.rotate {
      animation: rotation 2s infinite linear;
      &.fast {
        animation-duration: 0.5s;
      }
    }
   
    @media  screen and  (max-width:1200px)  {     
        width: 18px;
        height:18px;  
    }
    @media  screen and  (max-width:1000px)  {     
      width: 16px;
      height:16px;  
    }
    @media  screen and  (max-width:800px)  {     
      width: 14px;
      height:14px;    
    }
    @media  screen and  (max-width:600px)  {     
      width: 12px;
      height:12px;
    }
    @media  screen and  (max-width:400px)  {     
      width: 10px;
      height:10px; 
    }

/*
    @media  screen and  (max-height:700px)  {     
      top:500px;
    }*/



  }

  @keyframes rotation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(359deg);
    }




  }