html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.game {
  position: relative;
  background-color: #000;
  color: white;
  height: 100vh;

  /*--robban css---*/
  border:solid red 1px;
  width:100%;
}


.score {
  position: absolute;
  top: 5px;
  right: 10px;
}

.lives {
  position: absolute;
  top: 5px;
  left: 10px;
}

.main-text {
  display:none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 150px;
  .esc{
    padding-top: 25px;
  }
}

.paddle {
  /*---robin changed width and hight--*/
  width:10%;
  height: 5%;
  background-color: #999;
  position: absolute;
  z-index: 1;
  bottom: 0;
  
}

.brick {
  left: 300px;
  /*top: 200px;*/
  /*---robin changed width and hight--*/
  width: 3%;
  height: 4%;
  background-color: #777;
  position: absolute;
  z-index: 1;
}

.ball {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}
