html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.game {
  position: relative;
  background-color: rgb(25, 25, 25);
  color: white;
  height: 100vh;

  /*--robban css---*/
  /*border:solid red 1px;*/
  width:100%;
  /*max-width:2000px;*/
}

.score-text .sv {
  position: absolute;
  top: 2px;
  right: 62px;
  font-size: 14px;

}
.score-text .en {
  position: absolute;
  top: 2px;
  right: 62px;
  font-size: 14px;

}

.score {
  position: absolute;
  top: 5px;
  right: 10px;
}

.lives {
  position: absolute;
  top: 4px;
  left: 44px;
}
.lives-text {
  .sv{
    position: absolute;
    top: 3.6px;
    left: 10px;
    font-size: 14px;

  }
}
.lives-text {
  .en{
    position: absolute;
    top: 3.6px;
    left: 10px;
    font-size: 14px;

  }
}

.main-text {
  display:none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 150px;
  top: 50%;
}

.paddle {
  /*---robin changed width and hight--*/
  width:10%;
  height: 4%;
  background-color: $paddle-color;
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-radius: 10px;
}

.brick {
  left: 0;
  top: 0;
  /*---robin changed width and hight--*/
  width: 7.6%;
  height: 4%;
  /*background-color: #777;*/
  position: absolute;
  z-index: 1;
  /*border-radius: 12px;*/
  border:solid black 1px;
  /*margin-top:100px;*/
}

.ball {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: $ball-color;
  border-radius: 50%;
}
