.title {
    background-size: cover;
    width: 100%;
    min-height: 30vh;
    background-color: black;
}


header h1 {
    margin: 0 !important; 
    color: white;
    text-align: center; 
}

h1 {
    padding-top: 158px;
}