
.container-highscore {
  padding: 10px 150px;
  font-size: 1.2em;
}

.highscore-title {
  color: rgb(114, 255, 240);
}

.table th, .table td {
  text-align:center;
}

.table th {
  padding: 20px 0;
}

.table td {
  padding: 8px 0 25px 0;
}

.rank {
  width: 25%;
}

th p {
  color: rgb(134, 230, 220);
}

.breakout-points {
  width: 25%;
}

.table {
  border: outset 2px rgb(114, 255, 240);
}

@media only screen and (max-width: 768px) {
    .container-highscore {
        padding-left: 0;
        padding-right: 0;
    }
}

