
p {
	color: white;	
  line-height: 30px;
}

.card {
  background-color: $site-background-color;
}

.card-body {
  padding: 0;
}
  
.img1 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.img2, .img3 {
	padding-top:5px;
}

.row1, .row2, .row3, .row4 {
	padding-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
	.row2{
		padding-bottom: 40px;
	}
	.row3{
		padding-bottom: 60px;
	}

	@media only screen and (max-width: 992px) {
		.row1, .row2 {
			padding-bottom: 20px;
		} 
		.row3, .row4 {
			padding-bottom: 40px;
		}
		.text1{
			margin-top: 15px;
			padding-right: 40px;
		}
		.text2{
			padding-bottom:20px;
			padding-right: 40px;
		}

		@media only screen and (max-width: 768px) {
			.row1, .row2 {
				padding-bottom: 20px;
			} 
			.row3, .row4 {
				padding-bottom: 40px;
			}
			.text1{
				margin-top: 15px;
			}
			.text2{
				padding-bottom:20px;
			}
			
			@media only screen and (max-width: 576px) {
				h2 {
					font-size: 1.3em;
				}
				.card .card-img-top{
					border: outset 2px rgb(114, 255, 240);
				}
			}
		}
	}
}