.svflag, .ukflag{
	width:26px;
	height:26px;
	cursor:pointer;
}

.svflag:active, .ukflag:active{
	transform: translateY(2px);
}



.ukflag{
	margin-right: 25px;
}

.svflag{
	margin-right: 10px;
}

.navbar-brand{
	margin-left: 25px;
}

.fa-gamepad{
	font-size:30px;
}
