.svflag, .ukflag{
	width:26px;
	height:26px;
}

.ukflag{
	margin-right: 25px;
	opacity: 0.7;
}

.svflag{
	margin-right: 10px;
	opacity: 0.7;
}

.navbar-brand{
	margin-left: 25px;
}

.fa-gamepad{
	font-size:30px;
	color: tomato;
}
